header{
    background-image: url(slika.jpg);
    height: 500px;
    position: relative;
    
}
header p{
    position:absolute;
    font-size: 20px;
    /*top:0;
    left: 0;*/

    /*top: 0;
    right: 0;*/

    /*bottom: 0;
    left: 0;*/

    /*bottom: 0;
    right: 0;*/

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*ova linija 
    oduzima 50 posto
     sa ove strane da bi bilo centrirano*/
    margin: 0;
}
