.App {
  text-align: center;
  margin: 20px auto;
  max-width: 700px;
  color: #333;
}
.book-list {
  margin: 20px 20px;
}
.book-list ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}
.book-list li {
  background: #F0F0F0;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.book-list .title {
  font-weight: bold;
  color: #333;
  font-size: 20px;
}